#cards
    padding: 50px 5%
    font-size: 0
    .card
        display: inline-block
        width: 31%
        margin: 0 1%
        box-sizing: border-box
        transition: ease 0.9s
        img
            width: 100%

    .card:hover
        @include shadow
    @include respond-to(mobile-screens)
        width: 31%