#header
    background-image: url(require('!!file-loader?name=[name]_[hash:7].webp!./img/as.jpg'))
    // background-image: url('img/as.jpg')
    background-size: cover
    background-position: 50% 50%
    // position: relative
    // picture
    //     position: absolute
    //     z-index: -1
    //     top: 0
    //     bottom: 0
    //     left: 0
    //     right: 0
    //     overflow: hidden
    //     img
    //         height: 100%
    //         -o-object-fit: cover
h1
    font-size: 50px
    color: $pink
    letter-spacing: 14px
    margin: 0
    width: 30%
    float: left
    height: 50px
    padding-left: 10px
    box-sizing: border-box
#contact-phone
    color: black
    font-family: "GothaProBol"
    font-size: 35px
    font-weight: bold
    text-align: right
    display: block
    width: 70%
    float: left
    height: 50px
    line-height: 50px
    padding-right: 10px
    box-sizing: border-box
#caption
    color: $pink
    font-size: 54px
    font-family: "GothaProBol"
    padding-bottom: 25px
    text-align: center
    padding: 70px 0 30px 0
#genertext
    width: 60%
    margin: 0 auto
    margin-bottom: 50px
    line-height: 35px

form
    width: 50%
    margin: 0 auto
    padding-bottom: 40px
    .caption
        width: 100%
        text-align: center
        margin-bottom: 30px
        font-size: 30px
    // text-align: justify

